@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("./utils/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: rgba(39, 39, 39, 0.4);
  overflow: auto;
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.nav-logo h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.nav-button .btn {
  margin-left: 15px;
  padding: 10px 20px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.form-box {
  margin-top: 120px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  overflow: hidden;
}
.home-container header {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.about-us {
  margin-top: 120px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  overflow: hidden;
  text-align: center;
}
.about-us header {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 18px;
  line-height: 1.5;
}
.input-box {
  margin-bottom: 20px;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  position: relative;
  overflow: auto;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
#recipe-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
#recipe-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
#recipe-content ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.error-message {
  color: red;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 786px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-button {
    margin-top: 10px;
  }
  .nav-button .btn {
    margin-left: 0;
    margin-top: 10px;
  }
}
